

body {
   background-color: #D3FF82;
   color: #363D52;
}
#page {
   width: 1200px;
   height: 100%;
   margin: auto;

}

#logo {
   background: url('http://placekitten.com/g/800/135') no-repeat;
   height: 135px;
   width: 800px;
}

H1 {
   text-transform:uppercase
}

#right {
   float: left;
   height 800px;
   width: 300px;
   margin-left: 10px;
}
#about {  

   height: 200px;
   border: 1px solid #85db18;
   padding: 5px;
}


#calendar {
   float: left;
   width: 800px;
   height: 600px;
}


