<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="description" content="Tracking geeky events in stockholm">
    <meta property="og:title" content="Usergroup.se" />
    <meta property="og:site_name" content="Usergroup.se" />
    <meta property="og:image" content="http://usergroup.se/bg.jpg" />
    <link rel="alternate" type="application/rss+xml" title="usergroup.se" href="http://feeds.feedburner.com/usergroupSE" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>(geek|ruby|clojure|groovy|java|python|scala|agile|devops|nosql|lean|kanban|.*)usergroup.se</title>
    <link rel="stylesheet" href="main.css" type="text/css" media="screen" charset="utf-8">
    <style type="text/css">
      @media screen and (min-device-width: 480px) {
        body{
          background:url(bg{{page.background}}.jpg) no-repeat center center fixed;
          -webkit-background-size:cover;
          -moz-background-size:cover;
          -o-background-size:cover;
          background-size:cover;
        }
      }
      @media screen and (max-device-width: 480px) {
        body {
          background-color:#333;
        }
      } 
</style>
  </head>
  <body >
    <div class='content'>
      <div id="heading">
        <div >

          <h1><a href="/">usergroup.se</a></h1>
          <h2>- tracking geeky events in Stockholm</h2>
          <nav>
          <div>
            <span>
              <a href='/'>calendar</a>
              <a href='/about.html'>about</a>
              <a href='/add.html'>add event</a>
              <a href='/crew.html'>crew</a>
              <a href='/usergroups.html'>usergroups</a>
                <input id="free" type="checkbox"  checked>Free</input>
                <input id="paid" type="checkbox" >Paid</input>                
            </span>
          </div>
          </nav>

        </div>
      </div>
      <div class="box">
{{content}}

      </div>
      <footer>
      Design &copy; 2011 <a href="http://ecomba.org" target="_new">Enrique Comba Riepenhausen</a> used with permission. Remix and images <a href="http://peter.lind.be" target="_new">Peter Lind</a>      </footer>
    </div>

<script type="text/javascript" src="scripts.js"></script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23319845-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
  </body>
</html>
