<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <title>(geek|ruby|clojure|groovy|java|python|scala|agile|riak|devops|mongodb|lean|kanban|.*)usergroup.se</title>
    <link rel="stylesheet" href="main.css" type="text/css" media="screen" charset="utf-8">
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23319845-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
  </head>
  <body >
    <div class='content'>
      <div id="heading">

        <div >

          <h1>usergroup.se</h1>
          <nav>
          <div>
            <span>
              <a href='/'>calendar</a>
              <a href='/about.html'>about</a>
              <a href='/add.html'>add event</a>
              <a href='/usergroups.html'>usergroups</a>
            </span>
          </div>
          </nav>

        </div>
      </div>
      <div class="box">
{{content}}

      </div>
      <footer>
      Design &copy; 2011 <a href="http://ecomba.org" target="_new">Enrique Comba Riepenhausen</a> remixed by <a href="http://peter.lind.be" target="_new">Peter Lind</a>      </footer>
    </div>
  </body>
</html>
